.main-content {
    position: absolute;
    transition: all 0.5s;
    left: 4.2rem;
    top: 3rem;
    width: calc(100% - 4.2rem);
}

table {
    width: max-content;
    min-width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    background: white;
    margin: 1rem;
    table-layout: fixed;
}

thead {
    background-color: #1c3d5a;
    color: #fff;
}

thead th {
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

thead th:last-child {
    border-right: none;
}

tbody {
    text-align: center;

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

tbody td {
    padding: 0.5rem;
    font-size: 0.95rem;
    color: #1c3d5a;
    word-wrap: break-word;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    padding: 0.5rem;
    border: 2px solid #3ec9a7;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
    width: 120px;
    box-sizing: border-box;
    max-width: auto;
}

.select-checkbox {
    display: none;
}

.select-checkbox+label {
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
    transition: color 0.3s ease;
}

.select-checkbox:checked+label i {
    color: #37b093;
}

.select-checkbox+label i {
    font-size: 1.5rem;
}