.main-content {
    position: absolute;
    transition: all 0.5s;
    left: 4.2rem;
    top: 3rem;
    width: calc(100% - 4.2rem);

    @media (max-width: 550px) {
        left: 0;
        width: 100%;
    }
}

table {
    width: 98%;
    border-collapse: collapse;
    border-radius: 12px;
    background: white;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

thead {
    position: sticky;
    top: 0;
    background-color: #1c3d5a;
    color: #fff;
}

thead th {
    padding: 0.3rem;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

thead th:last-child {
    border-right: none;
}

tbody {
    text-align: center;

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

tbody td {
    font-size: 0.95rem;
    color: #1c3d5a;
    word-wrap: break-word;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

tfoot {
    background-color: #f8f9fa;
    font-weight: bold;
    text-align: center;
}

tfoot td {
    font-size: 1rem;
    color: #1c3d5a;
}

input[type="number"] {
    margin: 0.2rem;
    padding: 0.2rem;
    border: 2px solid #3ec9a7;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
    width: 70px;
    box-sizing: border-box;
    max-width: auto;
}