$primary-color: #3ec9a7;
$secondary-color: #ffcb42;
$dark-blue: #1c3d5a;
$light-gray: #e0e4e8;
$text-dark: #1c3d5a;
$text-light: #fff;

.about-brands {
    display: flex;
    min-height: calc(100vh - 6rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2C3E50;
    gap: 1.5rem;
    padding-top: 3rem;
}