.sidebar-container {
    position: relative;
    top: 3rem;
    height: calc(100% - 3rem);
    z-index: 1000;

    .sidebar {
        position: fixed;
        left: 0;
        height: 100%;
        background-color: #021321;
        padding: 0.625rem;
        transition: width 0.5s;

        &.expanded {
            width: 12rem;
        }

        &.collapsed {
            width: 3rem;
        }

        .sidebar-header {
            margin-top: 30px;
            width: 100%;
            padding-bottom: 1rem;
            display: flex;
            align-items: center;

            .profile-img {
                padding-left: 0.2rem;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 0.5rem;
                object-fit: cover;
            }

            .profile-info {
                margin-left: 0.5rem;
                transition: opacity 0.4s;
                min-width: 6rem;
                max-width: 8rem;

                &.show {
                    opacity: 1;
                }

                &.hide {
                    opacity: 0;
                }

                .profile-name {
                    color: #ffffff;
                    font-size: 0.875rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .profile-role {
                    color: #94a3b8;
                    font-size: 0.75rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .logout-btn {
                margin-left: 10%;
                color: #ffffff;
                font-size: 1.25rem;
                background-color: transparent;
                border: none;
                cursor: pointer;
                transition: transform 0.3s ease, color 0.3s ease;

                &.show {
                    opacity: 1;
                }

                &.hide {
                    opacity: 0;
                }

                &:hover {
                    color: #ffcb42;
                    transform: scale(1.1);
                }
            }
        }

        .sidebar-menu {
            margin-top: 1.25rem;
            list-style: none;
            max-height: calc(100% - 5rem);
            overflow-y: auto;

            &::-webkit-scrollbar {
                display: none;
            }

            .menu-item {
                position: relative;
                margin-top: 0.3rem;

                .menu-link {
                    display: flex;
                    align-items: center;
                    color: #ffffff;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    transition: all 0.4s;
                    text-decoration: none;
                    overflow: hidden;

                    &:hover {
                        background-color: #023854;
                        color: #ffffff;
                    }

                    .menu-icon {
                        margin: 0.5rem;
                        min-width: 3.125rem;
                    }

                    &.active {
                        background-color: #023854;
                        color: #ffffff;

                        .menu-icon {
                            color: #ffffff;
                        }
                    }

                    .menu-text {
                        display: block;
                        white-space: normal;
                        word-wrap: break-word;
                        overflow: hidden;
                        min-width: 8rem;
                        max-width: 10rem;
                        transition: min-width 0.5s, max-width 0.5s, opacity 0.4s;

                        &.show {
                            opacity: 1;
                        }

                        &.hide {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    .main-content {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.5s;

        &.expanded {
            left: 13.2rem;
            width: calc(100% - 13.2rem);
        }

        &.collapsed {
            left: 4.2rem;
            width: calc(100% - 4.2rem);
        }
    }

    @media (max-width: 550px) {
        .sidebar {
            position: fixed;
            left: 0;
            width: 12rem;
            z-index: 10000;
            transform: translateX(0%);
            transition: width 0.5s;

            &.expanded {
                transform: translateX(0);
            }
        }

        .main-content {
            left: 4.2rem !important;

            &.expanded {
                width: calc(100% - 4.2rem);
            }
        }
    }
}