$primary-color: #3ec9a7;
$secondary-color: #ffcb42;
$dark-blue: #1c3d5a;
$light-gray: #e0e4e8;
$text-dark: #1c3d5a;
$text-light: #fff;

.marketplace {
    display: flex;
    min-height: calc(100vh - 6rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2C3E50;
    gap: 1.5rem;
    padding-top: 9rem;

    @media (max-width: 768px) {
        padding-top: 22rem;
    }

    .search-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 5%;
        width: 97%;
        background-color: $light-gray;
        border-radius: 20px;

        h2 {
            color: $text-dark;
            font-size: 1.2rem;
            margin: 0.8rem;
        }

        .search {
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.8rem;

            @media (max-width: 768px) {
                width: 100%;
            }

            input {
                width: 100%;
                padding: 0.3rem;
                border: 2px solid $primary-color;
                border-radius: 10px;
                outline: none;
                font-size: 1rem;
                margin: 0.8rem;

                &:focus {
                    border-color: #37b093;
                }
            }

            button {
                width: 100px;
                padding: 0.5rem;
                background-color: $secondary-color;
                color: $text-dark;
                font-weight: bold;
                border: none;
                cursor: pointer;
                transition: background 0.3s ease, transform 0.2s ease;
                border-radius: 10px;

                &:hover {
                    transform: translateY(-2px);
                }
    
                &:active {
                    transform: translateY(1px);
                }

                @media (max-width: 768px) {}
            }
        }

        .selects-container {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            margin-left: 0.8rem;
            width: 100%;

            .select-container {
                position: relative;
                width: 22%;

                .custom-select {
                    width: 100%;
                    padding: 0.3rem 1rem;
                    font-size: 1rem;
                    border-radius: 10px;
                    border: 2px solid $primary-color;
                    background-color: #fff;
                    color: $text-dark;
                    outline: none;
                    appearance: none;
                    transition: border-color 0.3s ease;

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;


                    &:focus,
                    &:hover {
                        border-color: #37b093;
                    }
                }

                .custom-select+i {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 1.2rem;
                    color: $text-dark;
                    pointer-events: none;
                }
            }
        }

        h3 {
            color: $text-dark;
            font-size: 1.4rem;
            margin-bottom: 1rem;
            text-align: center;
            width: 100%;
        }

        .results-table {
            width: 100%;
            overflow-x: auto;
            max-height: 32rem;
            overflow-y: auto;

            .icon {
                font-size: 1.5rem;
                color: $text-dark;
                cursor: pointer;
                transition: color 0.3s ease;
                border: none;

                &:hover {
                    color: #37b093;
                }
            }
        }

        .results-table::-webkit-scrollbar-track {
            background: white;
        }

        tfoot {
            background-color: #fff;
            font-size: 0.95rem;
            color: #1c3d5a;
            word-wrap: break-word;

            i {
                font-size: 32px;
                color: #4CAF50;
                cursor: pointer;
                transition: transform 0.3s ease, color 0.3s ease;

                &:hover {
                    color: #388E3C;
                    transform: scale(1.2);
                }

                &:active {
                    transform: scale(0.95);
                }
            }

            button {
                width: 90%;
                background-color: #4CAF50;
                color: white;
                padding: 8px 14px;
                margin: 1%;
                border: none;
                border-radius: 8px;
                font-size: 16px;
                cursor: pointer;
                transition: background-color 0.3s, transform 0.2s;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }

            button:hover {
                background-color: #45a049;
                transform: translateY(-2px);
            }

            button:active {
                transform: translateY(1px);
            }

            button:disabled {
                background-color: #ccc;
                cursor: not-allowed;
                box-shadow: none;
            }
        }
    }
}